html {
  font-size: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  color: $black;
  background-color: #fff;
}

header,
section,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.max-width {
  width: 1312px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: $screen-large) {
    width: 100%;
    padding: 0 2rem;
  }
  @media (max-width: $screen-mobile) {
    margin-bottom: 2rem;
  }
}

.intro {
  margin-top: 6rem;
}
